.loader {
    position: absolute;
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px dashed dodgerblue;
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg); scale: 1;
    } 50% {
        transform: rotate(180deg); scale: 0.1;
    } to {
        transform: rotate(360deg); scale: 1;
    }
}