.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.btn {
    border: none;
    background: none;
    padding: 5px;
}
 .btn:hover {
    background: silver;
    cursor: pointer;
}
@media (max-width: 720px) {
    .btn {
        padding: 1px;
    }
}

