.nav {
    display: flex;
}
.btn {
    border: none;
    background: none;
    padding: 5px;
}
 .btn:hover {
    background: silver;
    cursor: pointer;
}
@media (max-width: 720px) {
    .btn {
        border: none;
        background: none;
        padding: 1px;
    }
}

