/* 1646FF - синий */
/* FAF9FA - белый */
/* 1573FF - синий светлый */
/* FF7939 - оранжевый */
/* A939FF - фиолетовый */
/* CDB9FF - светло фиолетовый */
/* EEFDB4 - лимонный светлый */
/* FFC4DC - розовый */
/* 33F981 - салатовый */
/* 9D9DFF - сине-серый */
/* E5FB6D - лимонный яркий */
/* FE394E - малиновый */
/* e6f0f0 - оливковый */
/* 14141E - черный */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}
p {
    color: dodgerblue;
}
#root {
    /* background: #e6f0f0; */
    color: #14141E;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.App {
    min-width: 800px;
}
.todo__headers
{
    width: 95vw;
    display: flex;
    padding: 7px 0;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    background: dodgerblue;
    color: white;
}
.todo__headers *{
    display: flex;
    justify-content: left;
}
.containerTitle {
    display: flex;
    justify-content: center;
}
.error {
    display: flex;
    justify-content: center;
    color: orangered;
    border: 1px solid orange ;
    margin: 5px;
    padding: 10px;
}
tr {
    width: 90vw;
    display: flex;
    /*justify-content: space-between;*/
}
.menu {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.menu * {
    margin: 0 10px;
}

@media screen and (min-width: 1020px) {
    .TodoIcon {
        width: 2%;
    }
    .Name{
        width: 20%;
    }
    .Created {
        width: 15%;
    }
    .Category {
        width: 12%;
    }
    .Content {
        width: 37%;
    }
    .Dates {
        width: 10%;
    }
    .Tools {
        width: 4%;
    }
}
@media (min-width: 720px) and (max-width: 1020px) {
    .TodoIcon {
        width: 5%;
    }
    .Name{
        width: 20%;
    }
    .Created {
        width: 15%;
    }
    .Category {
        display: none;

    }
    .Content {
        width: 55%;
    }
    .Dates {
        display: none;
    }
    .Tools {
        width: 5%;
    }
}
@media (max-width: 720px) {
    .TodoIcon {
        width: 5%;
    }
    .Name{
        width: 40%;
    }
    .Created {
        display: none;
    }
    .Category {
        display: none;
    }
    .Content {
        width: 50%;
    }
    .Dates {
        display: none;
    }
    .Tools {
        width: 10%;
    }
}
.NoteCategory {
    width: 40%;
}
.Active {
    width: 30%;
}
.Completed {
    width: 30%;
}